/*  your css code here. If applicable */
body{
	width:1100px;
	background-color:lightgreen;
}

.col1{
	width:200px;
}
.col2{
	width:600px;
}
.col3{
	width:200px;
}

.imageContainer{
	width:100%;
	height:auto;	
}

table{
	border:2px solid black;
}

td{
	border:1px solid black;
}